.p-main-link {
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.p-main-link a:hover {
  color: orangered;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.main-link {
  display: unset;
  background: none;
  color: black;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 60px;
}

.p-links {
  text-align: center;
  width: auto;
  letter-spacing: 0px;
  line-height: 140px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.p-links a:hover {
  color: orangered;
  text-align: center;
  letter-spacing: 0px;
  line-height: 140px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  text-align: center;
  display: unset;
  width: auto;
  background: none;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.active {
  text-align: center;
  display: unset;
  width: auto;
  background: none;
  color: orangered;
  text-decoration: none;
  font-size: 30px;
}

.section {
  display: block;
  text-align: center;
}

.p-ds-link {
  text-align: center;
  width: auto;
}

.p-ds-link a:hover {
  color: orangered;
  text-align: center;
  width: auto;
}

.ds-link {
  text-align: center;
  width: auto;
  color: black;
  text-decoration: none;
  letter-spacing: 0px;
  line-height: 150px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* display: block;
  width: fit-content;
  margin: auto; */
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

/* .body {
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
} */

.menu {
  word-spacing: 15px;
}

#section  {
  display: inline-block;
  text-align: center;
  background: none;
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 20%;
  margin-right: 20%;
  
}

#p-storytext {
  word-spacing: 3px;
  line-height: 30px;
}

.section-user-card {
  text-align: center;
}

.user-card {
  display: inline-block;
  width: 500px;
  height: 500px;
  border-radius: 15%;
  background-color: whitesmoke;
  padding: 15px;
  margin: 10px;
}

.user-card__img {
  border-radius: 50%;
  width: 87%;
  margin: 10px 0px 0px 0px;
}

.user-card__disc {
  letter-spacing: 0px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}

.photo {
  display: inline-block;
  width: 500px;
  height: 500px;
  /* border-radius: 15%;
  background-color: whitesmoke; */
  padding: 15px;
  margin: 10px;
}

.photo-section {
  text-align: center;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.video-section {
  text-align: center;
}

.video-div {
  display: inline-block;
  width: 560px;
  height: 315px;
  margin: 10px;
}

.video {
  border-radius: 1%;
}

.video-list-div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 560px;
  height: 315px;
  margin: 10px;
}

.video-list a:hover {
  color: orangered;
  width: auto;
}

.video-list__text {
  width: auto;
  color: black;
  text-decoration: none;
  letter-spacing: 0px;
  /* line-height: 50px; */
  font-weight: 600;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.p-mainroster {
  width: auto;
  color: black;
  text-decoration: none;
  letter-spacing: 0px;
  /* line-height: 50px; */
  font-weight: 600;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.p-notmainroster {
  width: auto;
  color: black;
  text-decoration: none;
  letter-spacing: 0px;
  /* line-height: 50px; */
  font-weight: 600;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}